{% extends "base_page.html" %}

{% block tab-title %}
OpenGL functions
{% endblock %}

{% block page-title %}
OpenGL functions
{% endblock %}

{% block page-lead %}
Here you can see variety of OpenGL functions and their purposes
{% endblock %}

{% block content %}
<div class="container p-4" id="functions-gl-table">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" class="py-3">Function Signature</th>
                    <th scope="col" class="py-3">Description</th>
                    <th scope="col" class="py-3">Feature</th>
                </tr>
            </thead>
            <tbody>
                {% for func, desc, feature in functions %}
                <tr>
                    <td class="py-3">{{ func }}</td>
                    <td class="py-3">{{ desc }}</td>
                    <td class="py-3">{{ feature }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}